.btn {
  text-align: start;
  border-radius: 4px;
  border: none;
  color: #6495ed;
  padding: 8px;
  background-color: white;
  font-size: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envelope-details-container {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f0f0f0;
  height: 250px;
  width: 350px;
  transition: box-shadow .3s;
  border: 0.5px solid #6494ed65;
}

.envelope-details-title, .envelope-details-budget {
  display: flex;
  margin: 25px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
  border-radius: 4px;
  border: 0.5px solid #6494ed65;
}

.changed-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-button, .save-button {
  margin: 10px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: 0.5px solid #6494ed65;
  color: #6495ed;
  cursor: pointer;
}

.delete-button {
  margin-top: 30px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.transactions-title {
  margin-top: 30px;
  color: #6495ed;
  text-decoration: underline;
}

.envelope-transactions-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  border-radius: 4px;
  padding: 20px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.transactions-details-text {
  text-align: center;
  font-size: 20px;
  color: black;

}

.date, .recipient, .amount {
  padding: 8px;
}

a {
  text-decoration: none;
}

.envelope-transactions-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #f0f0f0;
  height: 180px;
  width: 280px;
  cursor: pointer;
  transition: box-shadow .3s;
  border: 0.5px solid #6494ed65;
}

.envelope-transactions-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}