nav {
  margin: 0px, 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 180px;
  margin-bottom: 20px;
}

.logo > a {
  text-decoration: none;
  font-size: 50px;
  font-family: 'Brush Script MT';
  color: #6495ed;
}

.docs {
  padding: 20px;
  align-self: flex-end;
  font-size: 12px;
  color:black;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  padding: 20px 50px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  border-radius: 4px;
  padding: 6px 10px;
}

.explanation {
  text-align: center;
  padding: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-right: 150px;
  margin-left: 150px;
}